.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__logo {
  margin-bottom: 4rem;
}

.app__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
  padding: 2rem;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;
}

.app__container-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.app__container-info span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #5E7A7D;
}

.app__container-info-spans {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#notZero-bill,
#notZero-people {
  color: transparent;
}

#zero-bill,
#zero-people {
  color: #E17457;
}

#tip-span {
  margin: 2rem 0 1rem 0;
}

.app__container-info__tips {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-gap: 1rem;
}

#custom::-webkit-inner-spin-button,
#custom::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#custom {
  cursor: pointer;
  background: #F3F9FA;
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #547878;
  border: 2px solid transparent;
}

#custom:hover {
  border: 2px solid #26C2AE;
}

#custom::placeholder {
  text-align: center;
}

#custom:focus::placeholder {
  color: transparent;
}

#custom:focus {
  text-align: right;
  padding-right: 1rem;
  border: 2px solid #26C2AE;
}

.app__container-result {
  margin-left: 2rem;
  background: #00474B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  height: 100%;
}

.app__container-result__reset-button {
  width: 340px;
  background: #0D686D;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border: none;
  margin: 2rem;
  padding: .5rem 0;
  opacity: 0.35;
}

.app__container-result__reset-button-active {
  width: 340px;
  background: #26C2AE;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border: none;
  margin: 2rem;
  padding: .5rem 0;
  cursor: pointer;
}

.app__container-result__reset-button-active:hover {
  background: #9FE8DF;
}

@media screen and (max-width: 900px) {
  .app {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .app__logo {
    margin: 3rem auto;
  }
  .app__container {
    width: 100vw;
    padding: 2rem 1rem;
    border-radius: 25px 25px 0 0;
    flex-direction: column;
  }
  .app__container-info {
    width: 85vw;
  }
  .app__container-info__tips {
    width: 85vw;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .app__container-info span {
    white-space: nowrap;
  }
  .app__container-result {
    width: 85vw;
    margin: 1rem auto 0 auto;
    height: auto;
  }
  .app__container-result__reset-button,
  .app__container-result__reset-button-active {
    width: 85%;
    margin: -3rem 0 1rem 0;
  }
}